*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.green {
  color: #008d00;
}

.scroll_anim {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.scroll_anim.scaleIn {
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.no_overflow {
  overflow: hidden;
}

header {
  position: relative;
  height: 100vh;
}

header .slider {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

header .slider .slider__slide img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

header .l1 {
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  padding: 0 30px;
  font-family: "Montserrat", sans-serif;
  position: relative;
}

header .l1 .top_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15%;
  padding-top: 30px;
}

header .l1 .top_row .left img {
  height: 25px;
}

header .l1 .top_row .right img {
  height: 50px;
}

header .l1 h5 {
  color: #fff;
  margin: 0;
  font-size: 1.8rem;
  font-weight: 300;
  max-width: 50vw;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-animation: slideInUp 1.5s cubic-bezier(0.85, 0.37, 0.25, 0.95) both;
          animation: slideInUp 1.5s cubic-bezier(0.85, 0.37, 0.25, 0.95) both;
}

header .l1 h5:last-of-type {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

header .l1 h1 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 6rem;
  margin: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-animation: slideInUp 1.5s 0.25s cubic-bezier(0.85, 0.37, 0.25, 0.95) both;
          animation: slideInUp 1.5s 0.25s cubic-bezier(0.85, 0.37, 0.25, 0.95) both;
}

header .l1 h1 span.green {
  color: #008d00;
}

header .l1 .hightlight {
  background: #008d00;
  color: #fff;
  padding: 5px 10px;
  font-weight: 500;
  font-size: 1.5rem;
  display: inline-block;
  margin-top: 30px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-animation: slideInUp 0.8s 1.5s cubic-bezier(0.85, 0.37, 0.25, 0.95) both;
          animation: slideInUp 0.8s 1.5s cubic-bezier(0.85, 0.37, 0.25, 0.95) both;
}

header .l1 .scroll_down_container {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

header .l1 .scroll_down_container .scroll_down {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #008d00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: bounce 2s ease infinite;
          animation: bounce 2s ease infinite;
}

header .l1 .scroll_down_container .scroll_down img {
  mix-blend-mode: multiply;
}

header .train_img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 45vw;
}

section {
  padding: 50px;
  font-family: "Montserrat", sans-serif;
}

section h1 {
  font-weight: 400;
  position: relative;
}

section h1 span {
  font-weight: 800;
  color: #008d00;
}

section h1.s_underline:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 80px;
  height: 2px;
  background: #008d00;
}

section p {
  line-height: 1.5;
}

section .row_2_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section .row_2_col .col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#pass .col_2 {
  text-align: center;
}

#pass .col_2 .img {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

#pass .col_2 .img img {
  height: 400px;
}

#rates {
  background-color: #fef8ea;
}

#rates .row_2_col:last-child {
  margin-top: 50px;
}

#rates .col_2 {
  text-align: center;
}

#rates .col_2 img {
  height: 400px;
}

#rates table {
  border: 1px solid red;
  text-align: center;
  border-collapse: collapse;
  color: #fff;
}

#rates table h5 {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
}

#rates table h5 span {
  color: #000;
}

#rates table td {
  border: 1px solid #fff;
  padding: 10px;
  font-size: 12px;
  height: 60px;
  width: calc(100% / 3);
}

#rates table.blue tr {
  background: #04a2a8a2;
}

#rates table.blue tr:first-child {
  background: #04a2a8;
}

#rates table.blue tr:last-child {
  background: #04a2a879;
}

#rates table.red tr {
  background: #db5858a2;
}

#rates table.red tr:first-child {
  background: #db5858;
}

#rates table.red tr:last-child {
  background: #db585879;
}

#cards {
  text-align: center;
}

#cards .card_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#cards .card_row .card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #04a2a8;
  margin: 0 15px;
  color: #fff;
  padding: 15px;
}

#cards .card_row .card h1,
#cards .card_row .card h5 {
  margin: 0;
  font-weight: 500;
}

#cards .card_row .card h5 {
  font-size: 1.2rem;
}

#cards .card_row .card h1 {
  font-size: 2.5rem;
}

#cards .card_row .card img {
  height: 50px;
  margin: 15px 0;
}

#cards .card_row .card p {
  margin: 0;
  line-height: 1.2;
  font-size: 0.9rem;
  padding: 0 15px;
}

#cards .card_row .card:first-child {
  margin-left: 0;
}

#cards .card_row .card:last-child {
  margin-right: 0;
  background: #4186ae;
}

#cards .card_row .card:nth-child(2) {
  background: #fb8d59;
}

#cards .card_row .card:nth-child(3) {
  background: #db5858;
}

#tabs {
  padding-bottom: 0;
}

#tabs .tabs_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 30px;
}

#tabs .tabs_row .tab {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #e9fefe;
  text-align: center;
  border-top: 2px solid #04a2a8;
  margin: 0 15px;
  padding: 30px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#tabs .tabs_row .tab b {
  display: block;
  width: 100%;
  margin-bottom: 2px;
  color: #04a2a8;
}

#tabs .tabs_row .tab span {
  display: block;
  font-size: 13px;
  line-height: 1;
}

#tabs .tabs_row .tab:nth-child(2) {
  border-color: #fb8d59;
  background: rgba(251, 141, 89, 0.1);
}

#tabs .tabs_row .tab:nth-child(2) b {
  color: #fb8d59;
}

#tabs .tabs_row .tab:nth-child(3) {
  border-color: #db5858;
  background: #eeb3b3;
}

#tabs .tabs_row .tab:nth-child(3) b {
  color: #707070;
}

#tabs .tabs_row .tab:last-child {
  border-color: #4186ae;
  background: #9dc4db;
}

#tabs .tabs_row .tab:last-child b {
  color: #707070;
}

#tabs .tabs_row .tab.active {
  background: #fff;
}

#tabs #tab2,
#tabs #tab3,
#tabs #tab4 {
  display: none;
}

#tabs .tab_content {
  padding: 30px 75px 0 75px;
  -webkit-animation: slideUp 1s cubic-bezier(0.77, 0, 0.175, 1) both;
          animation: slideUp 1s cubic-bezier(0.77, 0, 0.175, 1) both;
}

#tabs .tab_content h6,
#tabs .tab_content h2 {
  color: #fb8d59;
  margin: 0;
}

#tabs .tab_content h2 {
  font-weight: 500;
}

#tabs .tab_content .row_2_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#tabs .tab_content .row_2_col .col_1 {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

#tabs .tab_content .row_2_col .col_1 p {
  font-size: 0.9rem;
}

#tabs .tab_content .row_2_col .col_1 ul {
  list-style: none;
  padding: 0;
  margin-top: 30px;
}

#tabs .tab_content .row_2_col .col_1 ul li {
  font-size: 0.9rem;
}

#tabs .tab_content .row_2_col .col_1 ul li b {
  margin: 10px 0 5px 0;
  display: block;
}

#tabs .tab_content .row_2_col .col_1 img {
  display: block;
  margin: auto;
  height: 250px;
}

#tabs .tab_content .row_2_col .col_2 {
  -webkit-box-flex: 2.5;
      -ms-flex: 2.5;
          flex: 2.5;
  text-align: center;
}

#tabs .tab_content .row_2_col .col_2 img {
  height: 600px;
}

#tabs .tab_content .recommended_spots {
  padding: 100px 0 0;
  margin: 0 -60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#tabs .tab_content .recommended_spots .center_heading {
  color: #fb8d59;
  font-weight: 800;
  display: inline-block;
  padding: 20px;
  font-size: 1.5rem;
  border-radius: 15px;
  -webkit-box-shadow: 0px 3px 20px #00000029;
          box-shadow: 0px 3px 20px #00000029;
}

#tabs .tab_content .recommended_spots .spot_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

#tabs .tab_content .recommended_spots .spot_row .col_1,
#tabs .tab_content .recommended_spots .spot_row .col_2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#tabs .tab_content .recommended_spots .spot_row .col_1 img,
#tabs .tab_content .recommended_spots .spot_row .col_2 img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

#tabs .tab_content .recommended_spots .spot_row .spot_card {
  padding: 50px 0;
}

#tabs .tab_content .recommended_spots .spot_row .spot_card h4 {
  color: #008d00;
  margin: 10px 0;
}

#tabs .tab_content .recommended_spots .spot_row .spot_card p {
  margin: 0;
}

#tabs .tab_content .recommended_spots .spot_row .spot_card .label {
  height: 60px;
  width: 60px;
  background: #fff;
  -webkit-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fb8d59;
  border-radius: 50%;
  border: 1px solid #707070;
  position: absolute;
  line-height: 1;
  font-size: 1.5rem;
  z-index: 9 !important;
}

#tabs .tab_content .recommended_spots .spot_row .col_1 {
  padding-top: 200px;
  padding-right: 150px;
}

#tabs .tab_content .recommended_spots .spot_row .col_1 .spot_card .img {
  position: relative;
}

#tabs .tab_content .recommended_spots .spot_row .col_1 .spot_card .img:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  width: 150px;
  height: 1px;
  border-top: 1px dashed #000;
}

#tabs .tab_content .recommended_spots .spot_row .col_1 .spot_card .img .label {
  top: 50%;
  left: calc(100% + 150px);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#tabs .tab_content .recommended_spots .spot_row .col_1 .spot_card:last-child img {
  border: 1px solid #707070;
}

#tabs .tab_content .recommended_spots .spot_row .col_2 {
  padding-left: 150px;
  position: relative;
}

#tabs .tab_content .recommended_spots .spot_row .col_2:before {
  content: "";
  position: absolute;
  left: 1px;
  bottom: 350px;
  width: 1px;
  height: calc(100% - 350px);
  background: #707070;
  z-index: -1;
}

#tabs .tab_content .recommended_spots .spot_row .col_2 .spot_card .img {
  position: relative;
}

#tabs .tab_content .recommended_spots .spot_row .col_2 .spot_card .img:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 150px;
  height: 1px;
  border-top: 1px dashed #707070;
}

#tabs .tab_content .recommended_spots .spot_row .col_2 .spot_card .img .label {
  top: 50%;
  right: calc(100% + 150px);
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

#tabs .tab_content#tab1 h6,
#tabs .tab_content#tab1 h2 {
  color: #04a2a8;
}

#tabs .tab_content#tab1 .recommended_spots .center_heading {
  color: #04a2a8;
}

#tabs .tab_content#tab1 .recommended_spots .spot_row .spot_card .label {
  color: #04a2a8;
}

#tabs .tab_content#tab3 h6,
#tabs .tab_content#tab3 h2 {
  color: #db5858;
}

#tabs .tab_content#tab3 .recommended_spots .center_heading {
  color: #db5858;
}

#tabs .tab_content#tab3 .recommended_spots .spot_row .spot_card .label {
  color: #db5858;
}

#tabs .tab_content#tab3 .recommended_spots .spot_row .col_2:before {
  bottom: 450px;
  height: calc(100% - 450px);
}

#tabs .tab_content#tab4 h6,
#tabs .tab_content#tab4 h2 {
  color: #4186ae;
}

#tabs .tab_content#tab4 .recommended_spots .center_heading {
  color: #4186ae;
}

#tabs .tab_content#tab4 .recommended_spots .spot_row .spot_card .label {
  color: #4186ae;
}

#tabs .tab_content#tab4 .recommended_spots .spot_row .col_2:before {
  bottom: 450px;
  height: calc(100% - 450px);
}

.shadow_container {
  padding: 30px 50px;
  -webkit-box-shadow: 0px 3px 20px #00000029;
          box-shadow: 0px 3px 20px #00000029;
}

#steps {
  padding-top: 0;
}

#steps h1.center {
  text-align: center;
}

#steps h2.bold {
  margin-top: 50px;
  font-weight: 900;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#steps h2.bold img {
  margin-left: 5px;
  height: 50px;
}

#steps .steps_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#steps .steps_row .step {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 1px solid #008d00;
  padding: 15px;
  text-align: center;
  margin: 0 30px;
}

#steps .steps_row .step:first-child {
  margin-left: 0;
}

#steps .steps_row .step:last-child {
  margin-right: 0;
}

#steps .steps_row .step .number {
  font-size: 4rem;
  font-weight: 800;
  color: #008d00;
}

#steps .steps_row .step h4 {
  margin: 0;
  color: #008d00;
}

#steps .steps_row .step img {
  height: 100px;
  margin: 30px 0;
}

#steps .steps_row .step p {
  margin: 0;
  font-weight: 500;
  line-height: 1.2;
  color: #008d00;
}

#steps .steps_row .step:nth-child(even) {
  background: #008d00;
}

#steps .steps_row .step:nth-child(even) .number {
  color: #fff;
}

#steps .steps_row .step:nth-child(even) h4 {
  color: #fff;
}

#steps .steps_row .step:nth-child(even) p {
  color: #fff;
}

#buy h1.center {
  text-align: center;
}

#buy h1.s_underline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#buy h1.s_underline img {
  margin-left: 10px;
  height: 50px;
}

#buy .btns_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#buy .btns_row > div,
#buy .btns_row a {
  background: #008d00;
  color: #fff;
  padding: 15px 30px;
  margin: 0 30px;
  max-width: 20vw;
  text-align: center;
  border-radius: 10px;
}

#buy .btns_row > div small,
#buy .btns_row a small {
  display: block;
  margin-top: 5px;
}

footer {
  font-family: "Montserrat", sans-serif;
}

footer .top {
  background: #fbf7f7ab;
  color: #fff;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .top a {
  margin: 0 15px;
  color: #000;
  text-decoration: none;
}

footer .top > div {
  width: 100%;
  text-align: center;
  padding-top: 15px;
}

footer .top > div small {
  color: #9fa4af;
}

footer .contact_us {
  background: #008d00;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .contact_us a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.4rem;
}

footer .contact_us a::after {
  content: "";
  margin-left: 5px;
  display: inline-block;
  height: 40px;
  width: 40px;
  vertical-align: middle;
  border-radius: 50%;
  background: url(./../assets/arrowRight.png) no-repeat;
  background-position: center;
  background-size: 40%;
  background-color: #fff;
}

@-webkit-keyframes slideUp {
  from {
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideInUp {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translateX(-40%);
            transform: translateX(-40%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translateX(-40%);
            transform: translateX(-40%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translateX(-40%);
            transform: translateX(-40%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translateX(-40%);
            transform: translateX(-40%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes scaleIn {
  from {
    opacity: 0;
    -webkit-transform: scale(0.95) translateY(100px);
            transform: scale(0.95) translateY(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    -webkit-transform: scale(0.95) translateY(100px);
            transform: scale(0.95) translateY(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}
/*# sourceMappingURL=style.css.map */