$base-color: #008d00;

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.green {
  color: $base-color;
}

.scroll_anim {
  // transform-origin: left;
  // transform: translateX(-100%);

  &.scaleIn {
    perspective: 1000px;
    transform-origin: center;
    transform: scale(0.7);
  }
}

.no_overflow {
  overflow: hidden;
}

p {
  font-weight: 500;
}

#banner {
  height: 100vh;
  position: relative;
  padding: 0;
  transition: all 1s ease;
  background-color: #fef8ea;

  #bannerBox {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    transition: all 1s ease;

    .banner {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      &.hidden {
        display: none !important;
      }

      a {
        position: relative;
      }

      img.static {
        height: 100%;
        width: 100%;
        object-fit: contain;
        object-position: top;
      }

      button {
        position: absolute;
        bottom: 40px;
        right: 250px;
      }
    }
  }
}

#nextBtn,
#prevBtn {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);

  button {
    background: rgba(19, 19, 19, 0.2);
    border: none;
    border-radius: 50%;

    &:focus {
      outline: none;
    }

    svg {
      height: 3rem;
      fill: rgb(216, 216, 216);
      transition: 0.3s;
      cursor: pointer;

      &:hover {
        fill: rgb(94, 94, 94);
        transition: 0.3s;
        transform: scale(0.9);
      }

      &:active {
        transform: scale(1.2);
        background-color: rgba(0, 0, 0, 0.103);
        border-radius: 50%;
      }
    }
  }
}

#nextBtn {
  right: 3%;
}

#prevBtn {
  left: 3%;
}

#dots {
  display: none;
}

@media screen and (max-width: 768px) {
  #banner {
    height: 25vh;
  }

  #nextBtn,
  #prevBtn {
    display: none;
  }

  #dots {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    z-index: 2;
    height: 10px;
    display: inline-flex;
    justify-content: center;
    .dot {
      height: 10px;
      width: 10px;
      background-color: rgb(160, 159, 159);
      border-radius: 50%;
      display: inline-block;
      margin: 0 5px;

      &.active {
        background-color: rgb(94, 94, 94);
      }
    }
  }

  .banner {
    img.static {
      height: auto !important;
    }
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  #banner {
    height: 35vh;
    #bannerBox {
      .banner {
        img.static {
          object-fit: fill;
        }

        button {
          bottom: 10px;
          right: 120px;
          font-size: 1rem;
          padding: 0.2rem 0.5rem;
        }
      }
    }
  }

  #nextBtn,
  #prevBtn {
    display: block;
  }

  #dots {
    bottom: 20px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1199px){
  #banner {
    height: 38vh;
  }
}

@media screen and (min-width:1500px) {
  #banner {
    height: 65vh;
  }
}

section {
  padding: 50px;
  font-family: "Montserrat", sans-serif;

  h1 {
    font-weight: 400;
    position: relative;

    span {
      font-weight: 800;
      color: $base-color;
    }

    &.s_underline {
      &:after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 80px;
        height: 2px;
        background: $base-color;
      }
    }
  }

  p {
    line-height: 1.5;
  }

  .row_2_col {
    display: flex;

    .col {
      flex: 1;
    }
  }
}

#areas {
  padding-top: 1px;
  margin-top: -30px;
  background-color: #fef8ea;
  text-align: center;

  h1 {
    font-weight: 600;
  }

  p {
    font-weight: 500;
  }

  .row_2_col {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .area_card {
      width: 48%;
      background: #fff;
      padding: 20px;
      margin: 20px 0;

      h1 {
        margin-top: 0;
        margin-bottom: 5px;
        color: #04a2a8;
        font-weight: 600;
      }

      p {
        margin-top: 0;
        color: #000;
        font-weight: 500;
      }

      .images {
        display: flex;
        justify-content: space-between;

        img {
          width: 48%;
          height: auto;
          margin: 10px 0;
        }
      }
    }
  }
}

#pass {
  padding-top: 0;

  &>h1 {
    line-height: 1.8;
    width: 100%;
    margin-top: 0;
    text-align: center;
    font-weight: 600;
    color: rgb(51, 116, 172);
  }

  .col_2 {
    text-align: center;

    .img {
      transform-origin: center;
      transform: rotate(-10deg);

      img {
        height: 300px;
      }
    }
  }
}

#rates {
  background-color: #fef8ea;

  .row_2_col:last-child {
    margin-top: 50px;
  }

  .col_2 {
    text-align: center;

    img {
      height: 300px;
    }
  }

  table {
    border: 1px solid red;
    text-align: center;
    border-collapse: collapse;
    color: #fff;

    h5 {
      margin: 0;
      font-size: 1rem;
      font-weight: 600;

      span {
        color: #000;
      }
    }

    td {
      border: 1px solid #fff;
      padding: 10px;
      font-size: 12px;
      height: 60px;
      width: calc(100% / 3);
    }

    &.blue {
      tr {
        background: #04a2a8a2;
      }

      tr:first-child {
        background: #04a2a8;
      }

      tr:last-child {
        background: #04a2a879;
      }
    }

    &.red {
      tr {
        background: #db5858a2;
      }

      tr:first-child {
        background: #db5858;
      }

      tr:last-child {
        background: #db585879;
      }
    }
  }
}

#cards {
  text-align: center;

  .card_row {
    display: flex;

    .card {
      flex: 1;
      background: #04a2a8;
      margin: 0 15px;
      color: #fff;
      padding: 15px;

      h1,
      h5 {
        margin: 0;
        font-weight: 500;
      }

      h5 {
        font-size: 1.2rem;
      }

      h1 {
        font-size: 2.5rem;
      }

      img {
        height: 50px;
        margin: 15px 0;
      }

      p {
        margin: 0;
        line-height: 1.2;
        font-size: 0.9rem;
        padding: 0 15px;
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
        background: #4186ae;
      }

      &:nth-child(2) {
        background: #fb8d59;
      }

      &:nth-child(3) {
        background: #db5858;
      }
    }
  }
}

#tabs {
  padding-bottom: 0;

  .tabs_row {
    display: flex;

    .tab {
      flex: 1;
      background: #e9fefe;
      text-align: center;
      border-top: 2px solid #04a2a8;
      margin: 0 15px;
      padding: 30px;
      cursor: pointer;
      transition: all 0.3s ease;

      b {
        display: block;
        width: 100%;
        margin-bottom: 2px;
        color: #04a2a8;
      }

      span {
        display: block;
        font-size: 13px;
        line-height: 1;
      }

      &:nth-child(2) {
        border-color: #fb8d59;
        background: rgba(251, 141, 89, 0.1);

        b {
          color: #fb8d59;
        }
      }

      &:nth-child(3) {
        border-color: #db5858;
        background: #eeb3b3;

        b {
          color: #707070;
        }
      }

      &:last-child {
        border-color: #4186ae;
        background: #9dc4db;

        b {
          color: #707070;
        }
      }

      &.active {
        background: #fff;
      }
    }
  }

  #tab2,
  #tab3,
  #tab4 {
    display: none;
  }

  .tab_content {
    padding: 30px 30px 0 30px;
    animation: slideUp 1s cubic-bezier(0.77, 0, 0.175, 1) both;

    h6,
    h2 {
      color: #fb8d59;
      margin: 0;
    }

    h2 {
      font-weight: 500;
    }


    .row_2_col {
      display: flex;

      .col_1 {
        flex: 3;

        p {
          font-size: 0.9rem;
        }

        ul {
          list-style: none;
          padding: 0;
          margin-top: 30px;

          li {
            font-size: 0.9rem;

            b {
              margin: 10px 0 5px 0;
              display: block;
            }
          }
        }

        .route_areas {
          display: flex;
          flex-wrap: wrap;

          .top {
            display: flex;
            margin: 30px 0;

            img {
              height: 150px;
            }

            .route_line {
              width: 2px;
              height: 100%;
              background: #000;
              margin: 0 30px 0 50px;
              position: relative;

              .start,
              .end {
                position: absolute;
                bottom: 105%;
                left: 50%;
                transform: translateX(-50%);
                width: 200px;
                text-align: center;
                font-weight: 600;
                font-size: small;
              }

              .end {
                bottom: -15%;
              }
            }

            p {
              font-size: small;
            }
          }

          .bottom {
            display: flex;
            margin: 10px 0;
            justify-content: space-between;

            .col {
              &:nth-child(2) {
                margin: 0 10px;
              }

              text-align: center;

              img {
                height: 110px;
              }

              p {
                margin: 0;
                font-size: small;
              }
            }


          }
        }

      }

      .col_2 {
        flex: 2.5;
        text-align: center;
        position: relative;

        img {
          height: 600px;
        }

        .img-magnifier-glass {
          position: absolute;
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
          border-radius: 5%;
          cursor: none;
          width: 250px;
          height: 250px;
        }
      }
    }

    .recommended_spots {
      padding: 100px 50px 0;
      margin: 0 -60px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      &>h1 {
        width: 100%;
        text-align: center;
        font-weight: 600;
        color: rgb(51, 116, 172);
      }

      .center_heading {
        color: #fb8d59 !important;
        font-weight: 800;
        display: inline-block;
        padding: 20px;
        font-size: 1.5rem;
        border-radius: 15px;
        box-shadow: 0px 3px 20px #00000029;
      }

      .spot_row {
        display: flex;
        width: 100%;

        .col_1,
        .col_2 {
          flex: 1;

          img {
            width: 100%;
            height: 300px;
            object-fit: cover;
            object-position: center;
          }
        }

        .spot_card {
          padding: 50px 0;

          h4 {
            color: $base-color;
            margin: 10px 0;
          }

          p {
            margin: 0;
          }

          .label {
            height: 60px;
            width: 60px;
            background: #fff;
            box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fb8d59 !important;
            border-radius: 50%;
            border: 1px solid #707070;
            position: absolute;
            line-height: 1;
            font-size: 1.5rem;
            z-index: 9 !important;
          }
        }

        .col_1 {
          padding-top: 200px;
          padding-right: 150px;

          .spot_card {
            .img {
              position: relative;

              &:after {
                content: "";
                position: absolute;
                top: 50%;
                left: 100%;
                width: 150px;
                height: 1px;
                border-top: 1px dashed #000;
              }

              .label {
                top: 50%;
                left: calc(100% + 150px);
                transform: translate(-50%, -50%);
              }
            }

            &:last-child {
              img {
                border: 1px solid #707070;
              }
            }
          }
        }

        .col_2 {
          padding-left: 150px;
          position: relative;

          &:before {
            content: "";
            position: absolute;
            left: 1px;
            bottom: 350px;
            width: 1px;
            height: calc(100% - 350px);
            background: #707070;
            z-index: -1;
          }

          .spot_card {
            .img {
              position: relative;

              &:after {
                content: "";
                position: absolute;
                top: 50%;
                right: 100%;
                transform: translateY(-50%);
                width: 150px;
                height: 1px;
                border-top: 1px dashed #707070;
              }

              .label {
                top: 50%;
                right: calc(100% + 150px);
                transform: translate(50%, -50%);
              }
            }
          }
        }
      }
    }

    &#tab1 {

      h6,
      h2 {
        color: #04a2a8;
      }

      .recommended_spots {
        .center_heading {
          color: #04a2a8;
        }

        .spot_row {
          .spot_card {
            .label {
              color: #04a2a8;
            }
          }
        }
      }
    }

    &#tab3 {

      h6,
      h2 {
        color: #db5858;
      }

      .recommended_spots {
        .center_heading {
          color: #db5858;
        }

        .spot_row {
          .spot_card {
            .label {
              color: #db5858;
            }
          }

          .col_2 {
            &:before {
              bottom: 450px;
              height: calc(100% - 450px);
            }
          }
        }
      }
    }

    &#tab4 {

      h6,
      h2 {
        color: #4186ae;
      }

      .recommended_spots {
        .center_heading {
          color: #4186ae;
        }

        .spot_row {
          .spot_card {
            .label {
              color: #4186ae;
            }
          }

          .col_2 {
            &:before {
              bottom: 450px;
              height: calc(100% - 450px);
            }
          }
        }
      }
    }
  }
}

.shadow_container {
  padding: 30px 50px;
  box-shadow: 0px 3px 20px #00000029;
}

#steps {
  padding-top: 0;

  h1.center {
    text-align: center;
  }

  h2.bold {
    margin-top: 50px;
    font-weight: 900;
    display: inline-flex;
    align-items: center;

    img {
      margin-left: 5px;
      height: 50px;
    }
  }

  .steps_row {
    display: flex;

    .step {
      flex: 1;
      border: 1px solid $base-color;
      padding: 15px;
      text-align: center;
      margin: 0 30px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      .number {
        font-size: 4rem;
        font-weight: 800;
        color: $base-color;
      }

      h4 {
        margin: 0;
        color: $base-color;
      }

      img {
        height: 100px;
        margin: 30px 0;
      }

      p {
        margin: 0;
        font-weight: 500;
        line-height: 1.2;
        color: $base-color;
      }

      &:nth-child(even) {
        background: $base-color;

        .number {
          color: #fff;
        }

        h4 {
          color: #fff;
        }

        p {
          color: #fff;
        }
      }
    }
  }
}

#buy {
  h1.center {
    text-align: center;
  }

  h1.s_underline {
    display: inline-flex;
    align-items: center;

    img {
      margin-left: 10px;
      height: 50px;
    }
  }

  .btns_row {
    display: flex;
    justify-content: center;
    align-items: center;

    &>div,
    a {
      background: $base-color;
      color: #fff;
      padding: 15px 30px;
      margin: 0 30px;
      max-width: 30vw;
      text-align: center;
      border-radius: 10px;

      small {
        display: block;
        margin-top: 5px;
      }
    }
  }
}

#floatingBuyBtn {
  position: fixed;
  bottom: 5%;
  right: 0;
  display: none;

  a {
    background: $base-color;
    color: #fff;
    display: inline-flex;
    align-items: center;
    padding: 15px 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.5s ease;
    animation: slideInLeft 1s ease both;

    img {
      margin-left: 15px;
      height: 30px;
      width: 30px;
      background: #fff;
      border-radius: 50%;
      padding: 8%;
      object-fit: contain;
      object-position: center;
    }
  }

  &:hover {
    a {
      transition: all 0.5s ease;
      padding-right: 30px;
      background: #007000;
    }
  }
}

footer {
  font-family: "Montserrat", sans-serif;

  .top {
    background: #fbf7f7ab;
    color: #fff;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    a {
      margin: 0 15px;
      color: #000;
      text-decoration: none;
    }

    &>div {
      width: 100%;
      text-align: center;
      padding-top: 15px;

      small {
        color: #9fa4af;
      }
    }
  }

  .contact_us {
    background: $base-color;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      color: #fff;
      text-decoration: none;
      font-weight: 500;
      font-size: 1.4rem;

      // position: relative;
      &::after {
        content: "";
        margin-left: 5px;
        display: inline-block;
        height: 40px;
        width: 40px;
        vertical-align: middle;
        border-radius: 50%;
        background: url(./../assets/arrowRight.png) no-repeat;
        background-position: center;
        background-size: 40%;
        background-color: #fff;
      }
    }
  }
}

@keyframes slideUp {
  from {
    transform: translateY(60px);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slideInUp {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(-40%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(-40%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.95) translateY(100px);
  }

  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-5px);
  }

  50% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(-5px);
  }
}

@media screen and (max-width: 575px) {

  section,
  header {
    overflow-x: hidden;
  }

  section {
    padding: 20px 15px;

    .row_2_col {
      flex-wrap: wrap;

      .col {
        flex: auto;
      }
    }
  }

  #areas {
    .row_2_col {
      justify-content: center;

      .area_card {
        width: 95%;
      }
    }
  }

  #rates {
    table {
      margin: 30px 0;
    }
  }

  #cards {
    .card_row {
      flex-wrap: wrap;

      .card {
        flex: auto;
        margin: 15px;

        &:first-child {
          margin-left: 15px;
        }

        &:last-child {
          margin-right: 15px;
        }
      }
    }
  }

  #tabs {
    padding: 0;

    .tabs_row {
      padding: 0;
      width: 100vw;
      display: grid;
      grid-template-columns: repeat(4, auto);
      overflow-x: scroll;
      position: sticky;
      top: 0;

      .tab {
        flex: auto;
        display: block;
        margin: 0;
        padding: 10px 15px;
        width: 45vw;
      }
    }

    .tab_content {
      padding: 30px 15px 0 15px;
      animation: slideUp 1s cubic-bezier(0.77, 0, 0.175, 1) both;

      .row_2_col {
        flex-wrap: wrap;

        .col_1 {
          flex: auto;

          .route_areas {
  
            .top {
              flex-wrap: wrap;
              margin-bottom: 0;
              img{
                object-position: left;
                object-fit: contain;
                width: 100%;
              }
  
              .route_line {
                margin: 50px 50px 30px;
                height: 100px;
              }
  
              p {
                align-self: center;
                width: 60%;
              }
            }
  
            .bottom {
              justify-content: flex-start;
              flex-wrap: wrap;
  
              .col {
                margin-bottom: 15px;
                &:nth-child(2) {
                  margin: 0;
                }
  
                img {
                  height: 100px;
                }
              }
  
  
            }
          }
  
        }

        .col_2 {
          flex: auto;

          img {
            width: 100%;
            height: auto;
          }
        }
      }

      .recommended_spots {
        padding: 100px 0 0;
        margin: 0;

        .spot_row {
          flex-wrap: wrap;
          width: 100%;

          .col_1,
          .col_2 {
            flex: auto;

            img {
              width: 100%;
              height: auto;
            }
          }

          .spot_card {
            padding: 0;
            // margin: 0 0 80px 0;
            margin: 0;
            box-shadow: 0px 3px 20px #00000029;

            h4 {
              padding-left: 15px;
            }

            p {
              padding: 0 15px 15px;
            }

            .label {
              height: 60px;
              width: 60px;
              background: #fff;
              box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
              display: flex;
              align-items: center;
              justify-content: center;
              color: #fb8d59;
              border-radius: 50%;
              border: 1px solid #707070;
              position: absolute;
              line-height: 1;
              font-size: 1.5rem;
              z-index: 9 !important;
              display: none;
            }
          }

          .col_1 {
            padding-top: 80px;
            // padding-top: 150px;
            padding-right: 0;

            .spot_card {
              .img {
                &:after {
                  top: auto;
                  bottom: 100%;
                  left: 50%;
                  width: 1px;
                  height: 100px;
                  // border-right: 1px dashed #000;
                }

                .label {
                  top: auto;
                  bottom: 100%;
                  left: calc(50%);
                  transform: translate(-50%, -35%);
                }
              }
            }
          }

          .col_2 {
            padding-left: 0;

            &:before {
              display: none;
            }

            .spot_card {
              .img {
                &:after {
                  top: auto;
                  bottom: 100%;
                  right: auto;
                  left: 50%;
                  transform: translateX(-50%);
                  width: 1px;
                  height: 100px;
                  // border-right: 1px dashed #707070;
                }

                .label {
                  top: auto;
                  bottom: 100%;
                  right: auto;
                  left: calc(50%);
                  transform: translate(-50%, -35%);
                }
              }
            }
          }
        }
      }
    }
  }

  #steps {
    .steps_row {
      flex-wrap: wrap;

      .step {
        flex: auto;
        padding: 15px;
        text-align: center;
        margin: 0 0 30px 0;
        animation-delay: 0s !important;
      }
    }
  }

  .shadow_container {
    padding: 30px;
  }

  #buy {
    .btns_row {
      flex-wrap: wrap;

      &>div,
      a {
        display: block;
        margin: 10px;
        max-width: 60vw;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  section {
    padding: 50px 100px;
  }

  #rates {
    .row_2_col {
      .col:first-child {
        flex: 2;
      }
    }

    table td {
      padding: 20px 30px;
    }
  }
}

@keyframes bannerSlideOutLeft {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes bannerSlideOutRight {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}

@keyframes bannerSlideInLeft {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes bannerSlideInRight {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}